body {font-family: 'Germania One', cursive;
}

button {
  padding: 10px;
  margin-left: 60px;
  margin-right: 60px;
  color: red;
}

hr {
  width: 100%;
  height: 1px;
  border-bottom: 5px solid black;
  border-bottom: 1px solid black;

}
