body {font-family: 'Germania One', cursive;
}

button {
  padding: 10px;
  margin-left: 60px;
  margin-right: 60px;
  color: red;
}

hr {
  width: 100%;
  height: 1px;
  border-bottom: 5px solid black;
  border-bottom: 1px solid black;

}

#Android {
  display: none;
}

#Apple {
  display: none;
}

#Error {
  display: none;
}

#Micro {
  display: none;
}

#Young {
  display: none;
}

body{
    background-image: url('https://giphy.com/embed/8HBQVfRiA1Q64');
    background-size: cover;



    height: 100vh;
    padding:0;
    margin:0;
}
